ul {
    list-style: none;
    padding: 0px;
    margin: 0px;

}

ul>li {
    display: inline-block;
    width: 550px;
}

#Cím {
    text-align: center;
    color: whitesmoke;
    background-color: teal;
}

#alcím {
    text-align: center;
    color: whitesmoke;
    background-color: teal;
}

.kids {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
}

.kids:hover {
    background-color: teal;
}

.le {
    display: none;
} 

.le:hover {
    background-color: teal;
    display: block;
    position: absolute;
}
