ul {
    list-style: none;
    padding: 0px;
    margin: 0px;

}

ul>li {
    display: inline-block;
     width: 200px;
    padding: 10px;
}

#Cím {
    text-align: center;
}

#alcím {
    text-align: center;
    color: black;
}
.kids {
    text-align: center;
}